main{
    height: 90vh;
    background-color: rgb(178, 180, 50);
    select{
        height: 5vh;
        width: 15vw;
    }
    .card{
        width: 15vw;
        border-radius: 15%;
        font-weight: bold;
    }
}