main{
    height: 15vh;
    width: 44vw;
    background-color: rgb(241, 185, 131);
    img{
        width: 6rem;
        height: 6.5rem;
    }
    button{
        background-color: rgb(68, 132, 230);
        font-weight: bolder;
        color: rgb(6, 6, 80);
    }

}
